.containerPrincipal{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 15px;
    padding: 20px;
}
.containerTitle{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.containerData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.containerData label {
    margin-top: 10px;
}
.containerData input {
    width: 100%;
}
.containerData select {
    width: 100%;
}
.containerButtons{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 5px;
    width: 100%;
    
}
.containerButtons button{
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 5px;
}
.containerButtons button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease;
}
.containerButtonsEdit{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    gap: 5px;
}
.containerButtonsEdit button{
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 5px;
}
.containerButtonsEdit button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease;
}