.containerPrincipal{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 5px 5px 20px;
}
.containerGeneralSizes{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerGeneralSizes select{
    width: 100%;
    padding: 5px;
}
.containerProductSizes{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerProductSizes select{
    width: 100%;
    padding: 5px;
}
.title{
    padding: 10px;
}
.containerButtons{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.containerButtons button{
    width: 100%;
    font-size: 15px;
    padding: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.containerButtons button:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}