/* Estilos del modal para cambiar la contraseña */
.containerPrincipalPassword{
    min-height: 35vh;
    width: 30vw;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 40%;
    box-shadow: 5px 5px 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.containerPrincipalPassword input{
    height: 4vh;
    padding: 10px;
}

/* Estilos del modal para cambiar datos fiscales */
.containerPrincipalData{
    min-height: 35vh;
    width: 40vw;
    background-color: white;
    position: absolute;
    top: 20%;
    left: 35%;
    box-shadow: 5px 5px 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.containerPrincipalData input{
    height: 4vh;
    padding: 10px;
}
.containerBirthDate{
    display: flex;
    gap: 5px;
}
.containerSex{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.buttonConfirm{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}
.buttonConfirm:hover{
    transform: scale(1.03);
    transition: 0.3s ease;
}
.buttonCancel{
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 15px;
    border: 1px solid;
    cursor: pointer;
}
.buttonCancel:hover{
    transform: scale(1.03);
    transition: 0.3s ease;
}

@media(max-width: 768px){
    .containerPrincipalPassword{
        min-width: 50vw;
    }
    .containerPrincipalData{
        min-width: 50vw;
    }
    .containerBirthDate{
        display: flex;
        flex-direction: column;
    }
}