.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    color: red;
    text-align: center;
    gap: 50px;
}

.container button{
    padding: 20px;
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    cursor:pointer; 
}