.modalBackdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}



.screen{
    position: relative;
}

/* Pagination */


.pagination{
    
    width: fit-content;

    margin: 0 auto;
    height: 125px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: -50px;
}

.pagination button{
    border: none;
    background-color: black;
    color: white;
    height: 40px;
    width: 40px;
    cursor: pointer;
}