.containerPrincipal{
    background-color: white;
    position:absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.containerTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.containerAddCategory{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.containerAddCategory h3{
    padding: 10px;
}
.containerCategories{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 5px;
}
.containerDeleteCategory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.containerButtons{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.containerButtons button{
    background-color: black;
    font-size: 15px;
    color: white;
    padding: 10px 20px;

}
.containerButtons button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 03s ease;
}
.containerButtonsEdit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 5px
}
.containerButtonsEdit button{
    font-size: 15px;
    padding: 5px;
    background-color: black;
    color: white;
}
.containerButtonsEdit button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease;
}