.containerPrincipal{
    height: 16vh;
    background-color: black;
    height: 12.8vh;
    padding: 10px;
    display: flex;
    gap: 3rem;
}
.headerLogo{
    cursor: pointer;
}
.arrowBack{
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
}
.arrowBack span {
    cursor: pointer;
    padding: 10px;
    border: 1px solid white;
}
.arrowBack span:hover{
    transform: scale(1.04);
    transition: 0.4 ease;
    box-shadow: 3px 3px 4px rgba(128, 128, 128, 0.575);
}
.containerLogo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
}
.headerLogo{
    width: 60px;
}
@media (max-height: 620px){
    .containerPrincipal{
        min-height: 20vh;
    }
}