.containerPrincipal{
    background-color: white;
    padding: 10px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 15px;
    width: auto;
    height: auto;
}
.containerTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.containerData{
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 1rem;
    height: 100%;
}
.containerLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 5px;
}
.containerRigth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 5px;
}
.containerButtons{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.containerButtons button{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 5px;
}
.containerButtons button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease;
}
